@import "tailwindcss";

:root {
  --color-dark: #2b2d42;     /* тёмный верхний */
  --color-purple: #4b306a;   /* насыщенный фиолетовый */
  --color-mid: #8164ab;      /* средний */
  --color-light: #b4a3d3;    /* светлый */
}

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(12px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.4s ease-out forwards;
  }
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.bg-violet-gradient {
  background: linear-gradient(to bottom, #2b2d42, #443266, #6b4faa, #a18cd1);
  min-height: 100vh;
}

/* Темные карточки с фиолетовым стилем */
.card-purple {
  background-color: #3a345e;
  color: #e0d9f3;
  border-color: #6b4faa;
}

.card-purple h3 {
  color: #ffffff;
}

.card-purple a {
  background-color: #6b4faa;
  color: white;
}

.card-purple a:hover {
  background-color: #5c3cb0;
}





.bg-auth {
  background-image: url('/images/bg-gradient.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.bg-main {
  background-image: url('/images/bg-stars.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3); 
  background-blend-mode: multiply;
}


.bg-home {
  background-image: url('/images/bg-stars2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-hero {
  background-image: url('/images/bg-stars2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.bg-favorites {
  background-image: url('/images/bg-stars2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
